body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

div {
  display: block;
}

section {
  display: block;
}

a {
  text-decoration: none;
}

.header {
  display: block;
  border-bottom: 1px solid #ececec;
}

.header li {
  padding: 32px 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
  text-decoration: none;
  margin: 0 93px 0 0;
  padding: 25px 0 25px 0;
}

.web {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus,
.header-nav:hover,
.header-nav:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-list-nav-1 {
  display: flex;
  margin: auto 0;
  text-decoration: none;
}

.header-nav-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin-top: 29px;
  position: absolute;
  border-radius: 2px;
}

.header-list-nav-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-decoration: none;
}

.header-nav,
.header-nav-1 {
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-nav-1,
.header-nav-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
}

.header-connect {
  margin-left: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-1 {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 280px 0;
}

.section {
  padding: 94px 0;
  text-align: center;
}

.section-2 {
  display: flex;
  flex-wrap: wrap;
}

.content-section {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
}

.section-special {
  padding: 94px 0 47px 0;
}

.section-second {
  padding: 47px 0 94px 0;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid tomato; */
}

.button:hover {
  background: #188ce8;
}

.head-button {
  text-align: center;
  border: 1px solid transparent;
}

.advantage-block {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.advantage-block::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-white-color);
}

.advantages-container {
  text-align: left;
  display: inline-block;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.icon-antenna::before {
  display: block;
  background-image: url("../image/antenna.svg");
  background-size: 70px;
}

.icon-clock::before {
  display: block;
  background-image: url("../image/clock.svg");
  background-size: 70px;
}

.icon-diagram::before {
  display: block;
  background-image: url("../image/diagram.svg");
  background-size: 70px;
}

.icon-astronaut::before {
  display: block;
  background-image: url("../image/astronaut.svg");
  background-size: 70px;
}

.h3-advantages {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 30px;
}

.about-advantages {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  max-width: 270px;
}

.main-info {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.main-info-container {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.main-info-container-img {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.main-info-container-services {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.main-info-container-h2 {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.clients-list {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list-link {
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.logo-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.join {
  margin-left: 70px;
}

.join-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-list-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-footer-icon {
  fill: var(--primary-white-color);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: var(--accent-color);
}

.social-list-footer-link:hover .social-list-icon,
.social-list-footer-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
/*# sourceMappingURL=main.css.map */