:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
div {
  display: block;
}
section {
  display: block;
}
a {
  text-decoration: none;
}
.section-1 {
}
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background-index-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  padding: 94px 0;
  text-align: center;
  /*  */
}

.section-2 {
  display: flex;
  flex-wrap: wrap;
}
.header {
  display: block;
  border-bottom: 1px solid #ececec;
}
/* ----------------- CONTAINER--------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
.container-1 {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 280px 0;
}
/* -------------- Секция 1---------*/
.content-section {
  margin: 0 auto;
  max-width: 700px;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

/* ------------------HEADER-------- */
.header li {
  padding: 32px 0;
}
.flex {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  flex-direction: row;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
  text-decoration: none;
  margin: 0 93px 0 0;
  padding: 25px 0 25px 0;
}
.web {
  color: var(--accent-color);
}
.logo:hover,
.logo:focus,
.header-nav:hover,
.header-nav:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-list-nav-1 {
  display: flex;
  margin: auto 0;
  /* outline: 2px solid tomato; */
  text-decoration: none;
}
.header-nav-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header-nav-1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin-top: 29px;
  position: absolute;
  border-radius: 2px;
}

.header-list-nav-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
}
.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-decoration: none;
}
.header-nav,
.header-nav-1 {
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-nav-1,
.header-nav-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-color);
  text-decoration: none;
}

.header-connect {
  margin-left: auto;
}

/* ------------HERO------------ */

.head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 2px solid tomato; */
}
.button:hover {
  background: #188ce8;
}
.head-button {
  text-align: center;
  border: 1px solid transparent;
}

/* -------------ОСОБЕННОСТИ------------ */
.section-special {
  padding: 94px 0 47px 0;
}
.advantage-block {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantage-block::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-white-color);
}

.advantages-container {
  text-align: left;
  display: inline-block;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  /* outline: 2px solid tomato; */
}

.icon-antenna::before {
  display: block;
  background-image: url("../image/antenna.svg");
  background-size: 70px;
}

.icon-clock::before {
  display: block;
  background-image: url("../image/clock.svg");
  background-size: 70px;
}

.icon-diagram::before {
  display: block;
  background-image: url("../image/diagram.svg");
  background-size: 70px;
}

.icon-astronaut::before {
  display: block;
  background-image: url("../image/astronaut.svg");
  background-size: 70px;
}
.list {
  list-style: none;
  padding: 0;
}

.h3-advantages {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 30px;
}
.about-advantages {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
  max-width: 270px;
}

/* -----------ЧЕМ мы ЗАНИМАЕМСЯ-------- */
.section-second {
  padding: 47px 0 94px 0;
}
.main-info {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.main-info-container {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.main-info-container-img {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.main-info-container-services {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.main-info-container-h2 {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* -----КАРТОЧКИ ЛЮДЕЙ=------- */

.cards {
  padding: 94px 0;
  background-color: var(--secondary-white-color);
}
.main-info-2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-container {
  margin: 0;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-worker {
  background-color: #fff;
  margin: 0;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}
.team-worker-discriptions {
  padding: 30px;
}

.section-team {
  background: #f5f4fa;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0 auto 10px auto;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.social-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}
.social-list-item {
  margin-top: 16px;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: #afb1b8;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}
/* ++++++++++++++ПОСТОЯННЫЕ КЛИЕНТЫ ++++++++*/
.clients-list {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}
.clients-list-link {
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}
/* ++++++++++++++КОНЕЦ  ПОСТОЯННЫЕ КЛИЕНТЫ ++++++++*/

/* ++++++++++++++FOOTER++++++++++ */

.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}
.logo-2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.join {
  margin-left: 70px;
}

.join-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.social-list-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-footer-icon {
  fill: var(--primary-white-color);
}

.social-list-footer-link:hover,
.social-list-footer-link:focus {
  background-color: var(--accent-color);
}

.social-list-footer-link:hover .social-list-icon,
.social-list-footer-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

/* =========CLASS PORTFOLIO========== */
.filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
  margin-right: 8px;
}

.filter {
  align-items: center;
  margin: 0 auto 50px 0;
  display: flex;
  flex-direction: reverse;
  justify-content: center;
}

.filter .button-portfolio {
  margin-right: 8px;
}

.button-portfolio {
  cursor: pointer;
  color: var(--secondary-text-color);
  font-family: inherit;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.button-portfolio.secondary {
  color: var(--header-color);
  background-color: var(--secondary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  border-radius: 4px;
  min-width: 75px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio.secondary:hover,
.button-portfolio.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  cursor: pointer;
}
.filter-button-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: var(--accent-color);
  cursor: pointer;
}
.list-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.list-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  align-content: space-between;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-list {
  border: 1px solid #eeeeee;

  padding: 20px 25px;
  box-sizing: border-box;
  text-align: left;
}
.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.block-list {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 25px;
}

.overlay-element {
  position: relative;
  overflow: hidden;
}
.list-work-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: start;
}

.project-list-link:hover .list-work-text,
.project-list-link:focus .list-work-text {
  transform: translateY(0%);
}

/* MODALKA */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.clous-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.clous-btn:hover {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  /* top: 8px;
  right: 8px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--header-color);
  transition: fill 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms linear;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-checkbox-wrapper {
}

.modal-form-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20%;
}

.modal-form-checkbox:checked + .modal-form-checkbox-icon {
  fill: var(--primary-white-color);
  background-image: url("../image/check.svg");
  background-size: cover;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-btn {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
  min-width: 200px;
  height: 50px;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe {
  min-width: 570px;
  margin-left: 93px;
}

.subscribe-btn {
  fill: var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  border-radius: 4px;
  margin: 0 auto;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  display: inline-flex;
  margin-left: -4px;
}
.subscribe-btn-icon {
  display: flex;
  margin-left: 10px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  display: inline-flex;
  min-width: 358px;
  margin-right: 12px;
}

.subscribe-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-subscribe-input {
  display: inline-block;
  width: 100%;
  padding: 14px 16px;
  margin: 0;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
